<?xml version="1.0"?>
<config>
    <modules>
        <Company_Test_module>
            <version>1.0.0</version>
        </Company_Test_module>
    </modules>
    <global>
        <blocks>
            <company_test_module>
                <class>Company_Test_module_Block</class>
            </company_test_module>
            <company_test_module_adminhtml>
                <class>Company_Test_module_Block_Adminhtml</class>
            </company_test_module_adminhtml>
        </blocks>
        <models>
            <company_test_module>
                <class>Company_Test_module_Model</class>
            </company_test_module>
        </models>
        <helpers>
            <company_test_module>
                <class>Company_Test_module_Helper</class>
            </company_test_module>
        </helpers>
        <!--
        <resources>
            <company_test_module_setup>
                <setup>
                    <module>Company_Test_module</module>
                </setup>
            </company_test_module_setup>
        </resources>
        -->
        <!--
        <events>
            <catalog_product_load_after>
                <observers>
                    <company_test_module>
                        <class>company_test_module/observer</class>
                        <method>catalogProductLoadAfter</method>
                    </company_test_module>
                </observers>
            </catalog_product_load_after>
        </events>
        -->
    </global>
    <frontend>
        <!--
        <routers>
           <company_test_module>
               <use>standard</use>
               <args>
                   <module>Company_Test_module</module>
                   <frontName>mgt</frontName>
               </args>
           </company_test_module>
        </routers>
        -->
        <layout>
            <updates>
                <company_test_module>
                    <file>company_test_module.xml</file>
                </company_test_module>
            </updates>
        </layout>
    </frontend>
    <!--
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Company_Test_module before="Mage_Adminhtml">Company_Test_module_Adminhtml</Company_Test_module>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    -->
    <!--
    <crontab>
        <jobs>
            <company_test_module_cron>
                <schedule>
                    <cron_expr>0,45 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>company_test_module/observer::methodName</model>
                </run>
            </company_test_module_cron>
        </jobs> 
    </crontab>
    -->
</config>
